body{
    background-color: aqua;
    font-size: 14px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font:100;
    color:black;
    margin:auto;
}
a:visited {
    color: red;
  }
a:hover {
    color: red;
  }
img {
    border: 5px solid black;
  }

footer{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
}

main-header{

}
main-nav{
    
}